h1{
    text-align: center;
    font-size: 50px;
    background-size: 57.50px ;
}

h3{
    text-align: center;
    vertical-align: auto;
    font-size: 30px;
}
    
body{
    background-image: url(./Circle\ logo\ DECATUR.jpg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: top 100% right 50%;
}

button{
    background-color: rgb(0 250 0);
    color: white;
    border: 1px solid rgb(3, 255, 3);
    border-radius: 15%;
    box-shadow: 5px 5px 5px black;
}

button:active{
    background-color: white;
    color: rgb(0 250 0);
    box-shadow: 0px 0px black;
}
